In [37]:
from os import listdir,stat
from os.path import isfile, join
import pandas as pd
import numpy as np

In [38]:
## HYPERPARAMETER CELL 

subject = 6

if subject ==1: 
    sessions = [2,3,4,5,6,7,8,9,10,11,12,13]
    
if subject ==2: 
    sessions = [2,6,8,9,11,12,14,15]
    
if subject ==4: 
    sessions = [2,3,4,5,6,8,9,11]

if subject ==6: 
    sessions = [3,4,5,6,7,8,10,11,12,13]
    

store_name = '../temp_files/sub-'+str(subject)+'-stage-1-df.pkl'

In [39]:
df = pd.DataFrame(columns = ['session', 'run','run_number','rep','level','onset','duration','duration_bk2','bk2'])

In [40]:
count = 0

In [41]:
run_number = 0
for sess in sessions:
    print('sess',sess)
    if len(str(sess))<2:
        sess_dir ='../data/shinobi.fmriprep/sourcedata/shinobi/sub-0'+str(subject)+'/ses-00'+str(sess)+'/func/'
    else:
        sess_dir = '../data/shinobi.fmriprep/sourcedata/shinobi/sub-0'+str(subject)+'/ses-0'+str(sess)+'/func/'
        
    sess_files_all = [f for f in listdir(sess_dir) if isfile(join(sess_dir, f))]


    sess_files_tsv = []
    for i in sess_files_all:
        t = i.split('.')[-1]
        if t=='tsv':
            sess_files_tsv.append(i)

    NUM_RUNS = len(sess_files_tsv)

    tsv_paths = []
    for run in range(1,NUM_RUNS+1):
        if len(str(sess))<2:
            t = 'sub-0'+str(subject)+'_ses-00'+str(sess)+'_task-shinobi_run-0'+str(run)+'_events.tsv'
        else:
            t = 'sub-0'+str(subject)+'_ses-0'+str(sess)+'_task-shinobi_run-0'+str(run)+'_events.tsv'
        tf = sess_dir+t
        tsv_paths.append(tf)

    for i in range(NUM_RUNS):
        
        td = pd.read_csv(tsv_paths[i], sep = '\t')
        print('run',i,'num of levels',len(td))
        
        
        if len(td)>0:
            level = 1
            tsv_index = 0
            rep = 0
            if not (td['stim_file'][tsv_index]=='Missing file'):
                df.loc[count]=[sess,i+1,run_number,rep,level,td['onset'][tsv_index],td['duration'][tsv_index],td['duration_bk2'][tsv_index],td['stim_file'][tsv_index]]
                count = count+1
        
        if len(td)>1:
            level = 4
            tsv_index = 1
            rep = 0
            if not (td['stim_file'][tsv_index]=='Missing file'):
                df.loc[count]=[sess,i+1,run_number,rep,level,td['onset'][tsv_index],td['duration'][tsv_index],td['duration_bk2'][tsv_index],td['stim_file'][tsv_index]]
                count = count+1
        
        if len(td)>2:
            level=5
            tsv_index = 2
            rep = 0
            if not (td['stim_file'][tsv_index]=='Missing file'):
                df.loc[count]=[sess,i+1,run_number,rep,level,td['onset'][tsv_index],td['duration'][tsv_index],td['duration_bk2'][tsv_index],td['stim_file'][tsv_index]]
                count = count+1
        
        if len(td)>3:
            level = 1
            tsv_index = 3
            rep = 1
            if not (td['stim_file'][tsv_index]=='Missing file'):
                df.loc[count]=[sess,i+1,run_number,rep,level,td['onset'][tsv_index],td['duration'][tsv_index],td['duration_bk2'][tsv_index],td['stim_file'][tsv_index]]
                count = count+1
        run_number = run_number+1
print("total_runs",run_number)

sess 3
run 0 num of levels 3
run 1 num of levels 2
run 2 num of levels 3
run 3 num of levels 3
sess 4
run 0 num of levels 2
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
sess 5
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
sess 6
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
sess 7
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
sess 8
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
run 4 num of levels 3
sess 10
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 2
run 3 num of levels 3
sess 11
run 0 num of levels 2
run 1 num of levels 3
run 2 num of levels 4
run 3 num of levels 3
run 4 num of levels 3
sess 12
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
sess 13
run 0 num of levels 3
run 1 num of levels 3
run 2 num of levels 3
run 3 num of levels 3
run 4 num of levels 3
total_runs 43

In [42]:
df.head()

,session,run,run_number,rep,level,onset,duration,duration_bk2,bk2
0,3,1,0,0,1,0.0080,328.9102,328.950000,sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
1,3,1,0,0,4,334.9517,195.6682,195.683333,sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
2,3,1,0,0,5,536.6545,235.7035,235.700000,sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
3,3,2,1,0,1,0.0073,268.0696,268.133333,sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
4,3,2,1,0,4,274.1111,352.8698,352.866667,sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...

In [43]:
print(df)

   session run run_number rep level     onset  duration  duration_bk2  \
0        3   1          0   0     1    0.0080  328.9102    328.950000
1        3   1          0   0     4  334.9517  195.6682    195.683333
2        3   1          0   0     5  536.6545  235.7035    235.700000
3        3   2          1   0     1    0.0073  268.0696    268.133333
4        3   2          1   0     4  274.1111  352.8698    352.866667
..     ...  ..        ...  ..   ...       ...       ...           ...
88      13   4         41   0     1    0.0077  215.1097    215.150000
89      13   4         41   0     4  221.1514  217.3187    217.333333
90      13   4         41   0     5  444.5044  207.4191    208.350000
91      13   5         42   0     1    0.0079  219.0972    219.150000
92      13   5         42   0     4  225.1394  227.0857    227.100000

                                                  bk2
0   sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
1   sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
2   sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
3   sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
4   sub-06/ses-003/gamelogs/sub-06_ses-003_task-sh...
..                                                ...
88  sub-06/ses-013/gamelogs/sub-06_ses-013_task-sh...
89  sub-06/ses-013/gamelogs/sub-06_ses-013_task-sh...
90  sub-06/ses-013/gamelogs/sub-06_ses-013_task-sh...
91  sub-06/ses-013/gamelogs/sub-06_ses-013_task-sh...
92  sub-06/ses-013/gamelogs/sub-06_ses-013_task-sh...

[93 rows x 9 columns]

In [44]:
df.sum()['duration']/3600

6.358760083333327

In [45]:
df.to_pickle(store_name)